#box_opp {
  position: relative;
  margin-top: 20px;
  width: 110%;
  height: 300px;
  background-color: white;
  border: 1px bold black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px #f43478;
  float: left;
}

.col-4 > img {
  width: 150px;
  height: 150px;
  margin: 25%;
}
#apply_btn2,
#apply_btn3 {
  font-size: 15px;
  position: relative;
  overflow: visible;
  margin-right: 9px;
  margin-top: 13px;
  top: -10px;
  right: 30%;
  width: 110px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(#f43478, #ff6456);
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#apply_btn2:hover {
  background-color: rgba(233, 17, 99, 0.4);
  box-shadow: 0px 15px 20px rgba(233, 17, 99, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#detailsBtn {
  margin-top: 9%;
  margin-left: 80%;
  width: 20%;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(#f43478, #ff6456);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.internship {
  position: relative;
  border: 1px solid black;
}
#location1 {
  top: 7px;
  position: relative;
  width: 30px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.co {
  text-decoration: underline;
  cursor: pointer; /* Pointer/hand icon */
}
.texte {
  top: 40px;
  position: relative;
  right: 45px;
}
#company {
  position: relative;
  width: 100px;
  height: 100px;
  left: -20px;
}

.texte2 {
  margin-bottom: 20px;
  top: 35px;
  position: relative;
  right: 30px;
}
.texte3 {
  top: 15px;
  position: relative;
  right: 30px;
}
