#footerphoto {
  z-index: 1;

  width: 100%;
}
#questionphoto {
  position: absolute;
  top: 360%;
  width: 35%;
  z-index: 2;
}
.footer{
  // background-color: #2196F3;
  background-image: linear-gradient(#f43478, #ff6456);
}
a{
  //color: black;
  color: rgb(66,66,66);
}
.usefulLinks{
  position: absolute;
  top:390%;
  left:50%;
}