#path{
    width: 50%;
    z-index: -1;
    position: absolute;
    top: 0px; right: 0px;
}
// .nav-link{
//     // color: white;
// }
#signup{
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    border-width: 1px;
}