.btn-group button {
    background-color: white; /* Green background */
    color: #F43478;
    border: 1px solid white; /* Green border */
    
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 150px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:active {
    background-color: #F43478;
    color: white;
  }
  .jumbotron{
    background-color: white;
  }
  .ester{
    width: 150px;
  }
  .caseStyle{
    border-radius: 50px;
    background-color:  gray ;
  }
  #edit{
    width:30px;
    left: 100px;
  }