.opportunity1 {
  z-index: 600;
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  margin: 200px 0 20px 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  left: 55px;
  bottom: 120px;
  height: 400px;
  background-color: white;
}
.btn2-group button {
  background-color: white; /* Green background */
  color: #ee1e67;
  border: hidden;
  border-bottom: 2px solid #ee1e67; /* Green border */

  padding: 10px;
  font-weight: bold;
  cursor: pointer; /* Pointer/hand icon */
  width: 220px; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn2-group button:hover {
  background-color: #f43478;
  color: white;
}
#click {
  position: relative;
  width: 20px;
  margin-right: 10px;
}
#location8 {
  top: 10px;
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  margin-left: 22px;
}
#company {
  position: relative;
  size: 10px;
  bottom: 15px;
  right: 50px;
}
.btn2-group {
  position: relative;
  top: 100px;
  left: 3px;
}
.b {
  margin: 15px;
}
.b2 {
  margin: 15px;
}
.opportunity1 h3 {
  display: inline-flex;
  position: relative;
  bottom: 160px;
  left: 172px;
}
.opportunity1 h5 {
  margin: 8px;
}

.para {
  left: 40px;
  position: relative;
  bottom: 150px;
}
.co {
  text-decoration: underline;
  cursor: pointer; /* Pointer/hand icon */
}
.alarm {
  z-index: 999;
  height: 55px;
  display: block;
  padding: 10px;
  background: #49b0e7;
  font-family: "Mukta Mahee", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #fff;
  border-radius: 9px;
  width: 115%;
  position: fixed;
}
#apply_btn8 {
  position: relative;
  overflow: visible;
  top: 25px;
  left: 600%;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(#f43478, #ff6456);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#box_opp8 {
  position: relative;
  margin-top: 100px;
  width: 80%;
  height: 300px;
  background-color: white;
  border: 1px bold black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px #f43478;
  float: left;
}
.boo {
  left: 0%;
  position: relative;
  margin-top: 70px;
  width: 80%;
}
