.application {
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px 0 20px 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  left: 240px;
  top: -50px;
  height: 400px;
}
.btn-group button {
  background-color: white; /* Green background */
  color: #ee1e67;
  border: hidden;
  border-bottom: 2px solid #ee1e67; /* Green border */

  padding: 10px;
  font-weight: bold;
  cursor: pointer; /* Pointer/hand icon */
  width: 220px; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:hover {
  background-color: #f43478;
  color: white;
}
#click {
  position: relative;
  width: 20px;
  margin-right: 10px;
}
#location {
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
  margin-left: 20px;
}
#company {
  position: relative;
  size: 10px;
  bottom: 15px;
  right: 50px;
}
.btn-group {
  position: relative;
  top: 100px;
  left: -20px;
}
.b {
  margin: 15px;
}
.b2 {
  margin: 15px;
}
.application h2 {
  display: inline-flex;
  position: relative;
  bottom: 170px;
  left: 180px;
}
.application h4 {
  margin: 8px;
}

.para {
  left: 40px;
  position: relative;
  bottom: 140px;
}

.alertCompany {
  margin-top: 0;
  top: 57px;
  z-index: 999;
  height: 55px;
  display: block;
  padding: 10px;
  background: #49b0e7;
  font-family: "Mukta Mahee", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #fff;
  border-radius: 9px;
  width: 115%;
  position: fixed;
}
