.dropdown {
  color: white;
}
#dropmenu {
  position: relative;
  top: auto;
}

// .navbar-brand{

//   width: 30px;
// }
#logo_devagnos {
  // background-color: blue;
  width: 40%;
  // height: 20px;
}
.navbar {
  background-image: linear-gradient(#f43478, #ff6456);
}
.btn-outline-success{
  color: white;
  border-color: white;
  
}