#box_opp {
  margin-top: 20px;
  width: 1000px;
  height: 250px;
  background-color: white;
  border: 1px bold black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px #f43478;
}

.col-4 > img {
  width: 100%;
  height: 250px;
}
#apply_btn2 {
  position: relative;
  overflow: visible;
  left: 85%;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(#f43478, #ff6456);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.internship {
  position: relative;
}
